#gradientbackground{
  
    background: linear-gradient(to bottom, #000957 50%, #000957 50%,#344CB7 95%);
}
.bg-black{
    background-color: #000000;
    
    
}
.rounded-sm{
    border-radius: 15px;
}
 .nav-link {
    @apply relative text-white transition-all duration-300 ease-in-out font-medium;
  }
  .nav-link::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #00f2ff;
    transition: width 0.3s ease-in-out;
  }

  .nav-link:hover {
    @apply text-cyan-400 text-lg font-bold drop-shadow-[0_0_10px_#00f2ff];
  }

  .nav-link:hover::after {
    width: 100%;
  }
